In [13]:
import pandas as pd
import xlrd

In [7]:
purchaseBehvaiour=pd.read_csv("files/QVI_purchase_behaviour.csv")

In [8]:
transactionData=pd.read_excel("files/QVI_transaction_data.xlsx")

In [11]:
#purchaseBehvaiour.head()

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

In [19]:
transactionData.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,date
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,2018-10-17
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,2019-05-14
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,2019-05-20
3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,2018-08-17
4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,2018-08-18

In [16]:
#Turn date into date format from integer format
transactionData["DATE"] = pd.to_datetime(transactionData["DATE"], origin ='1899/12/30', unit = 'D')

In [20]:
#quick summary of the prod_name column
transactionData['PROD_NAME'].describe()

count                                     264836
unique                                       114
top       Kettle Mozzarella   Basil & Pesto 175g
freq                                        3304
Name: PROD_NAME, dtype: object

In [42]:
transactionData['PROD_NAME'].unique()
transactionData['remove_characters'] = transactionData['PROD_NAME'].str.strip('n')

In [43]:
transactionData['remove_characters'].head()

0      Natural Chip        Compny SeaSalt175g
1                    CCs Nacho Cheese    175g
2      Smiths Crinkle Cut  Chips Chicken 170g
3      Smiths Chip Thinly  S/Cream&Onion 175g
4    Kettle Tortilla ChpsHny&Jlpno Chili 150g
Name: remove_characters, dtype: object