In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**note:both csv files were obtained from codecademy.com**
- the observations.csv file contains information about the observed species and which park they were observed in
- the species_info.csv data contains some information about the species like which category they belong in and whether they are being conserved or not.

# The goal of this analysis #
**The questions I want to answer are;**
- distribution of conservation status for animals?
- are certain species more likely to be endangered?
- are the differences between species and their conservation status significant?
- which species were spotted most at each park?

**To answer these questions I will use analyse;**
- the distributions of the conservation status 
- whether there is a relationship between species and conservation status
- whether that relationship is significant
- counts of most common species in each park

In [24]:
observation_data=pd.read_csv('/Users/nisanbaysal/Documents/GitHub/biodiversity/observations.csv')
observation_data.head()

            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85

In [25]:
observation_data.shape

(23296, 3)

In [21]:
species_data=pd.read_csv('/Users/nisanbaysal/Documents/GitHub/biodiversity/species_info.csv')
species_data.head()

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN

In [26]:
species_data.shape

(5824, 4)